{% extends "sistema.html" %}

{% block title %}{{ super() }} - Projetos {% endblock %}

{% block content %}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Usuários</h1>
<p class="mb-4">Listagem de todos os usuários do sistema .</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Usuarios</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Admin</th>                        
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Admin</th>   
                    </tr>
                </tfoot>
                <tbody>
                    {% for results in user %}
                    <tr>
                        <td>{{ results[0] }}</td>
                        <td>{{ results[1] }}</td>
                        <td>{{ results[2] }}</td>                        
                    </tr> 
                    {% endfor %}
                            
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}